@media (max-width: 425px) {
    body {
        font-family: 'Poppins', sans-serif;
    }

    .container {

        .select-section {
            display: flex;
            flex-direction: column;
            gap: 1em;

            .selection {
                border-radius: 10px;
                padding: 1em;
                border: none;
                box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;

                & option:active {
                    background-color: lightgreen;
                }
            }
        }

        .teams-section {
            padding: 20px;
            border-radius: 10px;
            box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;

            .teams {
                display: flex;
                justify-content: space-around;

                .team {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    & h4 {
                        font-size: 14px;
                        font-weight: 500;

                    }

                    & i {
                        font-size: 24px;
                        color: #969696;
                    }
                }
            }

            .scores {
                display: flex;
                align-items: center;
                justify-content: space-between;
                & h6 {
                    font-size: 16px;
                    font-weight: 400;
                }
                & button {
                    border: none;
                }
                & a {
                    color: black;
                }
            }

        }

        .save-clear-section {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .save-clear-button {
                border: none;
                padding: 0.8em;
                width: 5em;
                border-radius: 5px;

            }

            #save {
                background-color: lightgreen;
                color: white;
            }

            #clear {
                background-color: indianred;
                color: white;
            }
        }

        #customers {
            box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
            border-radius: 20px;
            margin: 1em 0 1em 0;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            text-align: center;
            border-bottom: 1px solid #ddd;
            padding: 1em;
        }

        #customers th {
            color: #969696;
            padding: 1.5em;
            text-align: center;
            font-weight: 600;
        }
    }
}
