<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bad at Soccer ⚽</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://kit.fontawesome.com/6061af4b47.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="select-section">
        <label for="fields">Choose a field:</label>

        <select name="fields" id="fields" class="selection">
            <option value="volvo">Field 1</option>
            <option value="saab">Field 2</option>
            <option value="mercedes">Field 3</option>
        </select>

        <label for="teams">Choose Team one:</label>

        <select name="teams" id="teams" class="selection">
            <option value="volvo">Team 1</option>
            <option value="saab">Team 2</option>
            <option value="mercedes">Team 3</option>
        </select>

        <label for="teams">Choose Team two:</label>

        <select name="teams" id="teams" class="selection">
            <option value="volvo">Team 1</option>
            <option value="saab">Team 2</option>
            <option value="mercedes">Team 3</option>
        </select>
    </div>

    <div class="teams-section">
        <div class="team" id="team-1">
            <button><a><i class="fa-solid fa-plus"></i></a></button>
            <label for="">Team one</label>
            <button><a><i class="fa-solid fa-minus"></i></a></button>
        </div>
        <div class="team" id="team-2">
            <button><a><i class="fa-solid fa-plus"></i></a></button>
            <label for="">Team two</label>
            <button><a><i class="fa-solid fa-minus"></i></a></button>
        </div>
        <label>
            <input type="checkbox">
            Tie ?
        </label>
    </div>

    <div class="save-clear-section">
        <button id="clear" class="save-clear-button">Clear</button>
        <button id="save" class="save-clear-button">Save</button>
    </div>

    <table id="customers">

        <tr>
            <th>#</th>
            <th>Day of play</th>
            <th>Team one</th>
            <th>Team Two</th>
            <th>Score One</th>
            <th>Score Two</th>
            <th>Tie</th>
            <th>Entered Time</th>
            <th>Who Entered / Edited</th>
        </tr>
        <tr>
            <td>1</td>
            <td>10/09/23</td>
            <td>Black</td>
            <td>Green</td>
            <td>0</td>
            <td>5</td>
            <td>0</td>
            <td>19:23</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>2</td>
            <td>10/09/23</td>
            <td>Green</td>
            <td>Black</td>
            <td>3</td>
            <td>5</td>
            <td>0</td>
            <td>19:27</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>3</td>
            <td>10/09/23</td>
            <td>Black</td>
            <td>White</td>
            <td>5</td>
            <td>5</td>
            <td>1</td>
            <td>19:30</td>
            <td>Admin</td>
        </tr>
    </table>
</div>
</body>
</html>